<web-component name="chart-oops">
    <style>
        h1 {
            color: blue;
        }
    </style>

    <template>
        <h1>{{data.header}}</h1>
        <ul>
            {{#each (data.data) }}
                <li>{{config.prefix}} - {{this.value}}</li>
            {{/each}}
        </ul>
    </template>

    <script>
        Flipper.register({
            initialize: function(config) {
                var dataUri = this.getAttribute('data-uri'),
                    model = this.model;

                model.config = config;

                return this.fetchModel(dataUri, {
                    rptCode: config.rptCode
                });
            },
            ready: function() {
                var self = this;
                self.$.find('ul > li').on('click', function() {
                    var html = $(this).html();
                    console.log('clicked ' + html);
                    self.emit('select-item', html);
                });
            }
        });
    </script>
</web-component>
