<web-component name="chart-richtable">
    <template>
        <div class="row digo-widget rich-table">

          <div class="col-sm-12">

            <div class="row header">

              <div class="col-sm-6">
                <div class="filter">{{ title }}</div>
                <div class="filter" ng-repeat="o in filter_list">
                  <span>{{ o.name }}</span>
                  <select id="{{ o.id }}">
                    <option ng-repeat="oo in o.option_list" value="{{ oo.id }}" ng-click="params[o.id]=oo.id">{{ oo.text }}</option>
                  </select>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="tool">
                  <button type="button" class="btn btn-default btn-xs" ng-show="is_export">
                    <span class="glyphicon glyphicon-circle-arrow-down"></span>
                    导出数据
                  </button>
                </div>
                <div class="tool">
                  <button type="button" class="btn btn-default btn-xs" ng-click="show_target_dim=!show_target_dim;$event.stopPropagation()">
                    <span class="glyphicon glyphicon-cog"></span>
                    设置指标与维度
                  </button>
                  <div class="target_dim" ng-show="show_target_dim" ng-click="$event.stopPropagation()">
                    <p>维度</p>
                    <ul>
                      <li ng-repeat="o in dim_list"><input type="checkbox" ng-model="o.is_show" /> {{ o.name }}</li>
                    </ul>
                    <p>指标</p>
                    <ul>
                      <li ng-repeat="o in target_list"><input type="checkbox" ng-model="o.is_show" /> {{ o.name }}</li>
                    </ul>
                  </div>
                </div>
                <div class="tool">
                  <span>显示</span>
                  <span class="glyphicon glyphicon-th merge" ng-click="merge=false"></span>
                  <span class="glyphicon glyphicon-th-list merge" ng-click="merge=true"></span>
                </div>
              </div>
            </div><!-- row header -->

            <div class="row body">
              <div class="col-sm-12">
                <table class="table table-bordered">
                  <tr>
                    <th ng-repeat="o in column_list" ng-if="o.is_show" ng-click="order_by_column(o)">
                      {{ o.name }}
                      <span class="glyphicon glyphicon-sort-by-attributes" ng-show="params.order == o.id && !params.order_desc"></span>
                      <span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="params.order == o.id && params.order_desc"></span>
                    </th>
                  </tr>

                  <tr ng-repeat="o in obj" ng-if="merge">
                    <td ng-repeat="c in column_list" ng-if="o[c.id + '_rowspan'] > 0 && c.is_show" rowspan="{{ o[c.id + '_rowspan'] }}">{{ o[c.id] }}</td>
                  </tr>

                  <tr ng-repeat="o in obj" ng-if="!merge">
                    <td ng-repeat="c in column_list" ng-if="c.is_show">{{ o[c.id] }}</td>
                  </tr>

                </table>
              </div><!-- col 12 -->
            </div><!-- row -->

            <div class="row footer">
              <div class="col-sm-12 paginator-block">
                <div class="paginator">
                  <div class="previous" ng-click="fetch(page-1)" ng-show="page > 1 && sum_page > 1">◀</div>

                    <div class="page" ng-repeat="p in range track by $index">
                      <div class="current" ng-show="$index + 1 == page" ng-click="fetch($index + 1)">{{ $index + 1 }}</div>
                      <div ng-hide="$index + 1 == page" ng-click="fetch($index + 1)">{{ $index + 1 }}</div>
                    </div>

                  <div class="next" ng-click="fetch(page+1)" ng-show="page < sum_page && sum_page > 1">▶</div>
                  <div class="sum">共 {{ sum_page }} 页</div>
                </div>
              </div>
            </div><!-- row footer -->

          </div><!-- col 12 -->
        </div><!-- row rich table -->

    </template>
    <style></style>
    <script>
        Flipper.register({
            initialize: function(config) {
                var app = angular.module('chart-richtable', [], angular.noop),
                    template = this.getView(),
                    node = this;

                var injector = angular.bootstrap(node, [module.name]);

                injector.invoke(function($rootScope, $compile) {
                    var link = $compile(template);
                    var scope = angular.extend($rootScope.$new(true), config);
                    var n = link(scope);
                    $(node).append(n);

                    //指标
                    scope.target_list = [];

                    //维度
                    scope.dim_list = [];

                    $.each(scope.column_list, function(i, e) {
                        e.is_show = true;
                        e.type == 'target' ? scope.target_list.push(e) : scope.dim_list.push(e);
                    });

                    //请求参数
                    scope.params = {}

                    scope.$watch('params', function() {
                        scope.fetch(1);
                    }, true);

                    //合并单元格
                    scope.merge = false;

                    //显示维度选择
                    ;
                    (function() {
                        $(document).on('click', function() {
                            scope.show_target_dim = false;
                            scope.$digest();
                        });
                    })();

                    //排序
                    scope.order_by_column = function(o) {
                        if (scope.params.order == o.id) {
                            scope.params.order_desc = (!scope.params.order_desc + 0);
                        } else {
                            scope.params.order = o.id;
                            scope.params.order_desc = 0;
                        }
                    }

                    scope.fetch = function(page) {
                        alert('获取数据了');

                        scope.obj = [{
                            lv1_dept: '一级部门',
                            s20: '20秒接起',
                            spcr: '单通道PCR'
                        }, {
                            lv1_dept: '一级部门',
                            s20: '20秒接起',
                            spcr: '单通道PCR2'
                        }, {
                            lv1_dept: '部门',
                            s20: '20秒接起',
                            spcr: '单通道PCR'
                        }, {
                            lv1_dept: '部门',
                            s20: '20秒接起2',
                            spcr: '单通道PCR'
                        }];
                        scope.sum_page = 4;
                        scope.page = page;
                        scope.range = new Array(scope.sum_page);

                        //纵向合并
                        for (var i = 0, l = scope.column_list.length; i < l; i++) {
                            var c = scope.column_list[i].id;
                            for (var j = 0, ll = scope.obj.length; j < ll; j++) {
                                if (scope.obj[j][c + '_rowspan'] == 0) {
                                    continue
                                }
                                if (i > 0 && scope.obj[j][scope.column_list[i - 1].id + '_rowspan'] == 0) {
                                    scope.obj[j][c + '_rowspan'] = 1;
                                    continue;
                                }
                                scope.obj[j][c + '_rowspan'] = 1;

                                for (var k = j + 1, lll = scope.obj.length; k < lll; k++) {
                                    if (scope.obj[k][c] == scope.obj[j][c]) {

                                        if (i == 0 || (i > 0 && scope.obj[k][scope.column_list[i - 1].id + '_rowspan'] == 0)) {
                                            scope.obj[j][c + '_rowspan'] += 1;
                                            scope.obj[k][c + '_rowspan'] = 0;
                                            continue;
                                        }

                                    }
                                    break;
                                }

                            }
                        }
                    }

                    scope.$digest();
                });
            }
        });
    </script>
</web-component>
