<web-component name="chart-oops" renderer="xtpl">
    <style>
        h1.header {
            color: blue;
        }
    </style>

    <template>
        <h1 class="header">{{data.header}}</h1>
        <ul>
            {{#each (data.data) }}
                <li>{{config.start}}{{config.end}} {{this}}</li>
            {{/each}}
        </ul>
    </template>

    <template id="tpl-abc">
        qqqqq
    </template>

    <script>
        Flipper.register({
            handleConfig: function(config) {
                config.start += '* _ *';
                return config;
            },
            initialize: function() {
                var dataUri = this.getAttribute('data-uri'),
                    rptCode = this.getAttribute('rpt-code'),
                    model   = this.model;

                var config = {
                    start: this.getAttribute('start'),
                    end:   this.getAttribute('end')
                };

                model.config = this.handleConfig(config);

                return $.get(dataUri, {
                    rptCode: rptCode
                }).then(function(data) {
                    model.data = data;
                });
            },
            ready: function() {
                var self = this;
                $(Flipper.findShadow(this, 'ul > li')).on('click', function() {
                    var html = $(this).html();
                    $(self).trigger('select-item', html);
                });
            }
        });
    </script>
</web-component>
