<link rel="import" href="../../../../../bower_components/polymer/polymer.html">
<link rel="stylesheet" href="../../../../../bower_components/bootstrap/dist/css/bootstrap.css">
<polymer-element name="my-element">
    <template>
        <link rel="stylesheet" href="../../../../../bower_components/bootstrap/dist/css/bootstrap.css">
        <span>Hello from <b>my-element</b>. This is my Shadow DOM.</span>
        <h1>{{name}}</h1>
    </template>
    <script>
        console.log('polymer' + 'my-element');
        Polymer({
            name: 'fuckyou'
        })
    </script>
</polymer-element>
