<web-component name="crm-hello2" template-engine="xtpl">
    <style>
    crm-hello2 {
        display: block;
    }

    crm-hello2 h1 {
        color: blue;
    }
    </style>
    <template>
        <section>
            <h1>Hello {{name}}</h1>
            <small>called by key: "{{attr("key") }}"" </small>
            <hr>
            <button>Say Hi</button>
        </section>
    </template>
    <script>
    Flipper.register(['lib/jquery/2.1.3/', '../data/title'], function($, data) {

        return {
            initialize: function() {
                this.key = this.getAttribute('key');
            },
            fetch: function() {
                var key = this.key;
                return {
                    name: data[key] || 'n/a'
                };
            },
            ready: function() {
                var model = this.model;
                $(this).find('button').on('click', function() {
                    window.alert('hi! ' + model.name);
                });
            },
            getName: function() {
                return this.model.name;
            },
            punch: function(targetName) {
                return this.getName() + ' punch ' + targetName;
            }
        };
    });
    </script>
</web-component>
