<web-component name="test-2">
    <template>
        <h1>This is test component 2, change the filter below: </h1>
        <fieldset>
            <legend>Controller</legend>
            <button name="x1">X1</button>
            <button name="x2">X2</button>
            <button name="x3">X3</button>
        </fieldset>
    </template>
    <script>
    'use strict';

        Flipper.register({
            createdCallback: function() {
                var $component = $(this),
                    buttons = Flipper.findShadow(this, 'button');

                $(buttons).on('click', function() {
                    $component.trigger('select-button', $(this).attr('name'));
                });
            }
        });
    </script>
</web-component>
